pkgbase = po4a
	pkgdesc = Tools for helping translation of documentation
	pkgver = 0.71
	pkgrel = 1
	url = https://po4a.org/
	arch = any
	license = GPL
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-pod-parser
	makedepends = docbook-xsl
	depends = perl
	depends = gettext
	depends = perl-yaml-tiny
	depends = perl-unicode-linebreak
	options = !emptydirs
	source = po4a-0.71.tar.gz::https://github.com/mquinson/po4a/archive/v0.71.tar.gz
	sha256sums = 7d087113321ff15e4ebf1cf80643cf6f1384bb12b02e2e1857120a1ab9573a55

pkgname = po4a
