pkgbase = po4a
	pkgdesc = Tools for helping translation of documentation
	pkgver = 0.70
	pkgrel = 1
	url = https://po4a.org/
	arch = any
	license = GPL
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-pod-parser
	makedepends = docbook-xsl
	depends = perl
	depends = gettext
	depends = perl-yaml-tiny
	depends = perl-unicode-linebreak
	options = !emptydirs
	source = po4a-0.70.tar.gz::https://github.com/mquinson/po4a/archive/v0.70.tar.gz
	sha256sums = e5001d0cb900bfb700d09abb7e994b823d5c05b72c0b221781bff88cbb537f3b

pkgname = po4a
