pkgbase = po4a
	pkgdesc = Tools for helping translation of documentation
	pkgver = 0.72
	pkgrel = 1
	url = https://po4a.org/
	arch = any
	license = GPL
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-pod-parser
	makedepends = docbook-xsl
	depends = perl
	depends = gettext
	depends = perl-yaml-tiny
	depends = perl-unicode-linebreak
	options = !emptydirs
	source = po4a-0.72.tar.gz::https://github.com/mquinson/po4a/archive/v0.72.tar.gz
	sha256sums = 17fbd720099e067a5877037420dce11f10a4efcd1a174eae5d17cf615ac1d21c

pkgname = po4a
